/* ---------------------------------------------------------------------
 Modern Styles
------------------------------------------------------------------------ */
@import "base/_reset";
@import "base/_elements";

// *---------------------------------------------------------------------
//
// *---------------------------------------------------------------------
.isVisuallyHidden {
    position: absolute;
    left: -9999px;
    font-size: 1px;
}
